venv
gui
build
dist
settings.json
projects.json
.DS_Store
node_modules
frontend/package-lock.json
frontend/package-lock.json
frontend/package-lock.json
frontend/package.json
package-lock.json
package.json
